<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">
<suite name="Walmart-Scale UI Regression" parallel="classes" thread-count="3">
    
    <listeners>
        <listener class-name="com.irfan.ecommerce.util.AnnotationTransformer" />
        <listener class-name="com.irfan.ecommerce.util.Listeners" />
    </listeners>

    <test name="E-Commerce UI Core Funnel">
        <classes>
            <class name="com.irfan.ecommerce.ui.tests.HomePageTest" />
            <class name="com.irfan.ecommerce.ui.tests.LoginTest" />
            <class name="com.irfan.ecommerce.ui.tests.ProductDetailTest" />
            <class name="com.irfan.ecommerce.ui.tests.CartWorkflowTest" />
            <!-- 🛑 API Tests Commented Out Until Server Stabilizes 
            <class name="com.irfan.ecommerce.ui.tests.IdempotencyTest" />
            <class name="com.irfan.ecommerce.ui.tests.CartHybridTest" />
            -->
        </classes>
    </test>
</suite>
